In [18]:
import numpy as np
import pandas as pd

In [19]:
# loading Nintendo sales data
df = pd.read_excel('https://query.data.world/s/7bupgfk3ywj6phwsyzca3adleh56lr')
# extracting sales type
df['type'] = df['Nintendo Switch Platform'].map(lambda x: x.split('/')[0].split(' ')[-1])
# extracting sales region
df['region'] = df['Nintendo Switch Platform'].map(lambda x: x.split('/')[1])
# reshaping from wide to long
df = pd.melt(df, id_vars=['type', 'region'], value_vars=['3/2017', '3/2018', '3/2019', '3/2020'], var_name = 'year', value_name = 'sales')
# extracting sales year
df['year'] = df['year'].map(lambda x: x.split('/')[1])

In [22]:
df.tail()

        type        region  year  sales
27  hardware         Other  2020    237
28  software         Japan  2020   3256
29  software  The Americas  2020   7428
30  software        Europe  2020   5017
31  software         Other  2020   1171

In [21]:
df.to_csv('W45.csv', index = True)