In [1]:
import pandas as pd

In [2]:
# loading file
df = pd.read_excel('https://query.data.world/s/luyjcb5waulc6ejp6nftvsdf724zud')
# renaming columns
df.rename(columns = {
    'Quarter': 'quarter',
    'Gross Domestic Product ($mil)': 'gdp',
    'Total Public Debt ($mil)': 'debt'
}, inplace = True)
# converting gdp to dollars
df['gdp'] = df['gdp'] * 1000000000
# converting debt to dollars
df['debt'] = df['debt'] * 1000000
# # converting from wide to long format
# df = pd.melt(df, 'quarter', ['gdp', 'debt'], var_name = 'type', value_name = 'amount')
# outputting to csv
df.to_csv('W47.csv', index = False)

In [3]:
df

       quarter           gdp          debt
0   1947-01-01  2.431640e+11           NaN
1   1947-04-01  2.459680e+11           NaN
2   1947-07-01  2.495850e+11           NaN
3   1947-10-01  2.597450e+11           NaN
4   1948-01-01  2.657420e+11           NaN
..         ...           ...           ...
290 2019-07-01  2.154032e+13  2.271940e+13
291 2019-10-01  2.174739e+13  2.320138e+13
292 2020-01-01  2.156114e+13  2.322381e+13
293 2020-04-01  1.952011e+13  2.647724e+13
294 2020-07-01  2.115764e+13           NaN

[295 rows x 3 columns]